$green:#3ec7b0;
@mixin project_box {
    background-size: cover;
    display: block;
    width: 33.33333%;
    height: 22.188em;
    float: left;
    background-position: 50% 50%;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p::selection {
    background: $green;
    color: white;
}
p::-moz-selection {
    background: $green;
    color: white;
}
p::-webkit-selection {
    background: $green;
    color: white;
}
ul {
    list-style-type: none;
}
header {
    height: 110px;
    
    .social_logo {
        float: left;
        overflow: hidden;
        li:first-child {
            line-height: 110px;
            margin: 1.3em 0.625em 1.3em 3.250em;
        }
        li {
            line-height: 110px;
            margin: 1.3em 0.625em;
        }
    }
    nav {
        float: right;
        ul {
            li:last-child {
                padding: 0 3.250em 0 25px;
            }
            li {
                line-height: 110px;
                padding: 0 25px;
                a {
                    color: black;
                    text-decoration: none;
                    font-family: sans-serif;
                    font-size: 18px;
                    &:hover {
                        color: $green;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    ul {
        list-style-type: none;
        li {
            display: block;
            float: left;
        }
    }
}
main {
    .section_name {
        text-align: center;
        h4 {
            font-weight: 100;
            margin-bottom: 30px;
            color: #000;
            font-size: 23px;
            text-transform: uppercase;
        }

        .img_divider{
            overflow: hidden;
            text-align: center;

            &:before{
                right: 0.5em;
                margin-left: -50%;
            }

            &after{
                left: 0.5em;
                margin-right: -50%;
            }
        }
        .img_divider:before,
        .img_divider:after{
            background-color: $green;
            content: "";
            display: inline-block;
            height: 3px;
            position: relative;
            vertical-align: top;
            width: 105px;
            margin:24px 25px 0 25px;
        }
    }
    .first_section {
        padding: 10em 0 5em 0;
        background-color: #1E2832;
        color: rgba(255, 255, 255, 0.75);
        background-attachment: fixed;
        background-image: url("../img/img_header.png");
        background-size: cover;
        text-align: center;
        .first_section_content {
            max-width: 700px;
            margin: 0 auto;
            .name {
                .headline {
                    h1 {
                        display: inline;
                        vertical-align: top;
                        line-height: 80px;
                        color: white;
                        font-size: 3em;
                        margin: 0 10px;
                        &:last-child {
                            color: #f0b7a5;
                            text-transform: uppercase;
                        }
                    }
                }
                .line {
                    padding: 0 8.5em;
                    hr {
                        color: white;
                    }
                }
                h2 {
                    font-weight: 100;
                    color: white;
                    margin-top: 30px;
                    font-size: 25px;
                }
                h3 {
                    font-weight: 600;
                    color: white;
                    margin-top: 10px;
                    font-size: 25px;
                }
            }
            ul {
                margin-top: 80px;
                li {
                    a {
                        background-color: #51BAA4;
                        box-shadow: none;
                        color: #fff !important;
                        font-size: 1.2em;
                        height: 3.25em;
                        line-height: 3.25em;
                        padding: 0 2.5em;
                        border: 0;
                        cursor: pointer;
                        display: inline-block;
                        font-weight: 100;
                        min-width: 10em;
                        text-align: center;
                        text-decoration: none;
                        text-transform: uppercase;
                        white-space: nowrap;
                        border-radius: 10px;
                    }
                    i {
                        color: lightgray;
                        font-weight: 100;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    #despre {
        background: #fafafa;
        padding: 80px 50px;
        .section_content {
            p {
                line-height: 30px;
                text-align: center;
                margin-top: 30px;
                color: gray;
                font-weight: 100;
            }
        }
    }
    .box_options {
        text-align: center;
        margin: auto;
        overflow: hidden;
        .box {
            display: inline-block;
            text-align: center;
            margin: 4.50em 4em 4.500em 4em;
            img {
                height: 180px;
                width: 165px;
            }
            span {
                display: block;
                font-size: 21px;
                font-weight: 100;
                color: #000;
                margin-top: 20px;
            }
        }
    }
    .second_section {
        padding: 6.875em 3.125em 5.313em 3.125em;
        background-color: #1E2832;
        color: rgba(255, 255, 255, 0.75);
        background-image: url("../img/donate_bg.png");
        background-size: cover;
        text-align: center;
        background-attachment: fixed;
        h5 {
            color: white;
            text-shadow: 1px 0px 0px grey, 0 0 1px grey;
            font-size: 3em;
            font-weight: 300;
        }
        p {
            color: #fff;
            font-weight: 100;
            font-size: 1.3em;
            margin: 70px 0 55px 0;
            line-height: 1.7em;
        }
        span {
            font-size: 1.9em;
            font-weight: 100;
            color: white;
            span {
                color: #f0b7a5;
                font-size: 1em;
            }
        }
        ul {
            margin-top: 3.750em;
            li {
                a {
                    background-color: #f0b7a5;
                    box-shadow: none;
                    color: #fff !important;
                    font-size: 1.2em;
                    height: 3.25em;
                    line-height: 3.25em;
                    padding: 0 2.5em;
                    border: 0;
                    cursor: pointer;
                    display: inline-block;
                    min-width: 10em;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    white-space: nowrap;
                    border-radius: 10px;
                    font-weight: 100;
                }
            }
        }
    }
    #proiecte {
        .section_name {
            padding: 3.125em 0 2.500em 0;
        }
        .section_content {
            margin-bottom: 4.375em;
            p {
                font-weight: 100;
                text-align: center;
                font-size: 22px;
                color: #7d7d7d;
            }
        }
        .third_section {
            .row {
                width: 100%;
                .image_box1 {
                    background-image: url("../img/1.png");
                    @include project_box;
                }
                .image_box2 {
                    background-image: url("../img/2.png");
                    @include project_box;
                }
                .image_box3 {
                    background-image: url("../img/3.png");
                    @include project_box;
                }
                .image_box4 {
                    background-image: url("../img/4.png");
                    @include project_box;
                }
                .image_box5 {
                    background-image: url("../img/5.png");
                    @include project_box;
                }
                .image_box6 {
                    background-image: url("../img/6.png");
                    @include project_box;
                }
                .content {
                    display: none;
                    background-color: rgba(0, 0, 0, 0.5);
                    width: 100%;
                    height: 8.1em;
                    padding: 9.063em 0em 5em 0em;
                    text-align: center;
                    p {
                        color: white;
                        max-width: 21.875em;
                        margin: 0 auto 2.188em auto;
                        font-size: 17px;
                        font-weight: 100;
                    }
                    a {
                        text-decoration: none;
                        color: white;
                        background-color: #3dc9b3;
                        padding: 0.9em 3.750em;
                        text-transform: uppercase;
                        border-radius: 10px;
                        font-weight: 600;
                    }
                }
                .image_box1:hover,
                .image_box3:hover,
                .image_box4:hover,
                .image_box5:hover,
                .image_box6:hover,
                .image_box2:hover, {
                    .content {
                        display: block;
                    }
                }
            }
        }
    }
}
#contact {
    background: #fafafa;
    .section_name {
        padding: 3.125em 0 2.500em 0;
    }
    .section_content {
        margin-bottom: 4.375em;
        p {
            font-weight: 100;
            text-align: center;
            font-size: 22px;
            color: #7d7d7d;
        }
    }
    .form_section {
        .contacts {
            float: left;
            .half_row {
                float: left;
                width: auto;
                img {
                    margin: 0 0 0 3.250em;
                }
                h5 {
                    margin: 0 0 1.750em 2.063em;
                    font-weight: 500;
                    color: #5b5b5b;
                    max-width: 400px;
                }
                p {
                    color: grey;
                    font-weight: 300;
                    margin: 0 0 0 1.7em;
                    display: block;
                    width: 17em;
                }
            }
            .content{
                margin-top: 20px;
            }
        }
        .form {
            float: right;
            h5 {
                color: #5b5b5b;
            }
            form {
                padding-right: 10.438em;
                p:first-child {
                    margin-top: 1.563em;
                }
                p {
                    margin-bottom: 1.563em;
                    input {
                        width: 27.500em;
                        height: 2.500em;
                        padding: 0 0 0 13px;
                    }
                    textarea {
                        width: 27.500em!important;
                        height: 4.688em!important;
                        padding: 10px 0 0 13px;
                    }

                    input,
                    textarea {
                        border: 1px solid lightgray;
                        font-size: 13px;

                        &:focus{
                            border: 1px solid lightgray;
                        }
                    }

                    input:hover,
                    textarea:hover {
                        border: 1px solid $green;
                    }

                    label {
                        width: 5.750em;
                        display: inline-block;
                        color: grey;
                        font-weight: 300;
                        vertical-align: middle;
                    }

                    label.textarea_label{
                        vertical-align: top;
                    }
                    ::-webkit-input-placeholder {
                        color: #868686;
                    }
                    ::-moz-placeholder {
                        color: #868686;
                    }
                    /* Firefox 19+ */
                    
                    :-moz-placeholder {
                        color: #868686;
                    }
                    /* Firefox 18- */
                    
                    :-ms-input-placeholder {
                        color: #868686;
                    }
                }
                #button-blue {
                    height: 2.9em;
                    width: 12.063em;
                    background-color: $green;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 600;
                    border: 1px solid $green;
                    border-radius: 10px;
                    font-size: 18px;
                    margin: 20px 0 80px 0;
                }

                input.ng-invalid.ng-touched{
                    border:1px solid red;
                }

                input.ng-valid.ng-touched{
                    border:1px solid $green;
                }

                .ng-invalid#button-blue{
                    background-color: red;
                }

                .error{
                    color:red;
                    font-size: 13px;
                    font-weight:600;
                }
                .ng-binding{
                    color:$green;
                    text-align: center;
                    font-size: 16px;
                }
            }
        }
    }
}
footer {
    height: 120px;
    background-color: $green;
    .copy {
        float: left;
        margin: 2.5em 0.625em;
        color: white;
        font-weight: 100;
        
        a{
            color:white;
        }
    }
    .social {
        float: right;
        li {
            margin: 1.7em 0.625em 1em 0.625em;
            float: left;
        }
        li:last-child {
            margin: 1.7em 3.125em 1em 0.625em;
        }
    }
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}


@media screen and (max-width: 1279px) {
    #contact .form_section .form {
        float: left;
        margin-left: 3.9em;
        margin-top: 3.9em;
    }
}
@media screen and (max-width: 1024px) {
    main #proiecte .third_section .row {
        .image_box1 {
            width: 50%;
        }
        .image_box2 {
            width: 50%;
        }
        .image_box3 {
            width: 50%;
        }
        .image_box4 {
            width: 50%;
        }
        .image_box5 {
            width: 50%;
        }
        .image_box6 {
            width: 50%;
        }
    }
}

@media screen and (max-width: 935px) {
    header nav ul li {
        line-height: 50px;
    }
    main .second_section {
        padding: 6.875em 2.125em 5.313em 2.125em;
        #contact .form_section .form {
            float: left;
            margin-left: 3.9em;
            margin-top: 3.9em;
        }
    }
}

@media screen and (max-width: 888px) {
    main .box_options .box img{
        height: 120px;
        width: 110px;
    }
    main .box_options .box {
        display: inline-block;
        text-align: center;
        margin: 1.250em 2em 4.500em 2em;
    }
}
@media screen and (max-width: 700px) {
    main .first_section .first_section_content .name .line {
        padding: 0 2em;
    }
}


@media screen and (max-width: 639px) {
    main #proiecte .third_section .row {
        .image_box1 {
            width: 100%;
        }
        .image_box2 {
            width: 100%;
        }
        .image_box3 {
            width: 100%;
        }
        .image_box4 {
            width: 100%;
        }
        .image_box5 {
            width: 100%;
        }
        .image_box6 {
            width: 100%;
        }
    }
    #contact .form_section .contacts .half_row {
        float: left;
        width: 100%;
        img {
            margin: 0 0 0 1.7em;
        }
    }
    #contact .form_section .form {
        margin-left: 1.7em;
    }
}
@media screen and (max-width: 531px) {
    header .social_logo li {
        display: none;
    }
    header .social_logo li:first-child {
        display: block;
    }
    footer {
        .social {
            float: left;
            li {
                margin: 2em 0.2em 0.5em 0.2em;
            }
            li:last-child {
                margin: 2em 0.2em 0.5em 0.2em;
            }
        }
    }
}
@media screen and (max-width: 530px) {
    main .box_options .box {
        display: inline-block;
        text-align: center;
        margin: 1.250em 5em 4.500em 5em;
    }
    main .box_options .box img{
        height: 180px;
        width: 160px;
    }
}
@media screen and (max-width: 437px) {
    main .second_section {
        padding: 6.875em 10px 5.313em 10px;
    }
    #contact .form_section .form form p input {
        width: 20em!important;
        height: 2.500em!important;
    }
    #contact .form_section .form form p textarea {
        width: 20em!important;
        height: 2.500em!important;
    }
    footer {
        height: 230px;
    }
}

@media screen and (max-width: 405px) {
    main #despre {
        padding: 80px 10px;
    }
}
@media screen and (max-width: 360px) {
    main #despre {
        padding: 80px 10px;
    }
}
