<section id="contact">
    <div class="section_name wow fadeInDown">
        <h4>Contact</h4>
        <div class="img_divider"><img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/c.png')}}" class="section_logo"></div>
    </div>

    <div class="section_content wow fadeInUp">
        <p>E bine să nu uităm de unde am venit!</p>
    </div>

    <div class="form_section clearfix">

        <div class="contacts wow slideInLeft">

            <div class="row clearfix">

                <div class="half_row">
                    <img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/logo-menu.png')}}">
                </div>


                <div class="half_row content" >
                    <h5>Fundația ALAREME - Absolventii Liceului {{indexCtrl.author.denumire}} </h5>
                    <p>{{indexCtrl.author.city}}</p>
                    <p>{{indexCtrl.author.adress_phone}}</p>
                </div>

            </div>

            <div class="row clearfix">

                <div class="half_row">
                    <img ng-src="{{ indexCtrl.deepAsset.locate('@deep-alareme:img/me.png')}}">

                </div>
                <div class="half_row content">
                    <h5> Liceul Academic {{indexCtrl.author.denumire}} </h5>
                    <p>{{indexCtrl.author.city}}</p>
                    <p>{{indexCtrl.author.adress_phone}}</p>
                </div>
            </div>
        </div>

        <div class="form wow slideInRight">
            <h5>Say hi/ join us/ get involved</h5>
            <p ng-show="RegisterController.message"> </p>

            <form name="Contacts" ng-submit="register()"  novalidate>

                <p>
                    <label for="firstName">Nume</label>
                    <input type="text" id="firstname" name="firstname" placeholder="Harison Ford" ng-model="contactsCtrl.user.firstName" ng-required="true"/>

                <p class="error validationerror" ng-show="deepContacts.firstname.$invalid && myForm.firstName.$touched"> Numele și Prenumele Dumnevoastră  </p>
                </p>


                <p>
                    <label for="telefon">Telefon</label>
                    <input type="text" id="telefon" name="telefon" placeholder="0681 23 456" ng-model="contactsCtrl.user.phoneNumber" ng-required="true">

                <p class="error validationerror" ng-show="deepContacts.telefon.$invalid && myForm.telefon.$touched"> Telefonul Dumnevoastră</p>
                </p>


                <p>
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="harison.ford@gmail.com" ng-model="contactsCtrl.user.email" ng-required="true"/>

                <p class="error validationerror" ng-show="deepContacts.email.$invalid && myForm.email.$touched"> Adresa de email</p>
                </p>


                <p>
                    <label for="mesaj" class="textarea_label">Mesaj</label>
                    <textarea id="mesaj" name="mesaj" placeholder="Hi there, want to give you some money" ng-model="contactsCtrl.user.message"></textarea>
                </p>


                <button type="submit" id="button-blue" ng-disabled="ContactsController.$invalid" ng-click="ContactsController">Trimite</button>
            </form>

        </div>

    </div>
</section>