
<footer>
    <div class="copy wow slideInLeft">
        Copyright &copy; <a href="https://www.alareme.com" alt="ALAREME">ALAREME</a> 2016 <br/>
        Cu suportul echipei <a href="https://www.mitocgroup.com" alt="Mitoc Group">Mitoc Group</a>
    </div>
    <div class="social">
        <ul>
            <li class="wow fadeInDown">
                <img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/twitter2.png')}}">
            </li> <li class="wow fadeInUp">
            <img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/facebook2.png')}}">
        </li> <li class="wow fadeInDown">
            <img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/linkedin2.png')}}">
        </li> <li class="wow fadeInUp">
            <img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/g.2.png')}}">
        </li>
        </ul>
    </div>
</footer>