
<deep-header> </deep-header>

<main>

    <div class="first_section">
        <div class="first_section_content">
            <div class="logo wow fadeInDown"></div>
            <img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/a.png')}}">

            <div class="name wow fadeInUp">
               <div class="headline clearfix">
                   <h1>Fundația</h1>
                   <h1>ALAREME</h1>
               </div>

               <div class="line"><hr/></div>
               <h2>Absolvenții Liceului Academic Român-Englez</h2>
               <h3>Mircea Eliade</h3>
           </div>

            <ul class="wow fadeInDown">
                <li ><a  ng-click="headerCtrl.scrollTo('despre')">Despre noi</a></li>
                <li><i class="fa fa-angle-double-down fa-5x"></i></li>
            </ul>

        </div>
    </div>


    <section id="despre">

        <div class="section_name wow fadeInDown">
            <h4>Despre noi</h4>
            <div class="img_divider">
                <img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/a_div.png')}}" class="section_logo"></div>
        </div>

        <div class="section_content wow fadeInUp">
            <p>ALAREME este o fundație non-profit înființată în 2016 de către absolvenții
                Liceului Teoretic "Mircea Eliade". Ne dorim ca generațiile ce ne urmează să aibă parte
                de tot ce e mai bun, inovativ și actual! De aceea, prin această fundație,
                ne punem ca scop să susținem și promovăm proiectele de dezvoltare ale liceului.
                Sperăm împreună să contribuim la realizări frumoase cu care să ne mândrim!</p>
        </div>
    </section>

    <div class="box_options">
    <div class="box_options">
        <div class="box wow fadeInDown">

            <a ng-click="headerCtrl.scrollTo('proiecte')">
                <img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/proiecte.png')}}">
                <span>Proiecte</span></a>
        </div>
        <div class="box wow fadeInUp">
            <a ng-click="headerCtrl.scrollTo('contact')">
                <img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/doneaza.png')}}">
                <span>Donează</span></a>
        </div>
        <div class="box wow fadeInDown">
            <a ng-click="headerCtrl.scrollTo('contact')">
                <img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/join_us.png')}}">
                <span>Contact</span></a>
        </div>
    </div>

    <div id="doneaza_s">
        <div class="second_section">
            <h5 class="wow fadeInDown">Ultimul sunet ne cheamă</h5>
            <p class="wow fadeInUp">Anii de liceu... câte amintiri frumoase avem când ne gândim la ei!
                Acești ani ne-au pus baza personalității noastre, profesiilor pe care le avem azi
                și unui cerc larg de prieteni, de care ne bucurăm până în prezent. Fără îndoială,
                a fost una dintre cele mai frumoase perioade din viața noastră, care ne-a ajutat
                să perseverăm în continuare în realizarea viselor noastre. <br/>
                Vă invităm să nu uităm acest lucru și să contribuim în măsura posibilităților fiecăruia
                la dezvoltarea liceului în continuare. <br/>
                Nu ezitați să oferiți un prezent și viitor mai bun copiilor!</p>

            <ul class="wow fadeInUp">
                <li><a ng-click="headerCtrl.scrollTo('contact')"class="doneaza">Donează acum!</a></li>
            </ul>
        </div>
    </div>

        <deep-proiecte> </deep-proiecte>
        <deep-contacts> </deep-contacts>
</main>

<deep-footer> </deep-footer>


