<section id="proiecte">

    <div class="section_name wow fadeInDown">
        <h4>Proiecte</h4>
        <div class="img_divider">
            <img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/p.png')}}" class="section_logo"></div>
    </div>

    <div class="section_content wow fadeInUp">
        <p>E bine să nu uităm de unde am venit!</p>
    </div>

    <div class="third_section">
        <div class="row clearfix">

            <div class="image_box1">
                <div class="content">
                    <p>Securitatea şcolii (ex: intrarea cu carduri, cu statistică completă)</p>
                    <a  class="detalii_proiect bl1" ng-click="proiecteCtrl.showSecurity();proiecteCtrl.showMe('first_text')">Detalii</a>
                </div>
            </div>

            <div class="image_box2">
                <div class="content">
                    <p>Echipament pentru clasele de studii (ex: calculatoare, proiectoare si altele)</p>
                    <a class="detalii_proiect bl2" ng-click="proiecteCtrl.showSala(); proiecteCtrl.showMe('second_text')">Detalii</a>
                </div>
            </div>

            <div class="image_box3">
                <div class="content">
                    <p>Echipament pentru sala de sport (a cărei construcţie a început!)</p>
                    <a class="detalii_proiect bl3" ng-click="proiecteCtrl.showSalaSport();proiecteCtrl.showMe('third_text')">Detalii</a>
                </div>
            </div>
        </div>


        <section id="proiecte_text1">
            <div id="first_text">
                <div class="hidden vis1">
                    <div class="section_name wow fadeInDown">
                        <h4>Securitatea şcolii</h4>
                        <div class="img_divider"><img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/a.png')}}"  class="section_logo"></div>
                    </div>

                    <div class="section_content wow fadeInUp">
                        <p>Intrarea cu carduri, cu statistică completă</p>
                    </div>

                    <div class="section_content wow fadeInUp">
                        <p class="small">Acest subiect a fost unul actual și pe timpul când eram și noi elevi în
                            liceu. (Cel puțin pentru părinții noștri…) De aceea, vă propunem să
                            oferim acum mai multă siguranță elevilor din liceu și liniște părinților
                            care își lasă copilul la școală în fiecare dimineață.<br>
                          <span>  Dacă susțineți această idee, vă rugăm să accesați butonul

                            ”DONEAZĂ” de mai jos.</span>
                        </p>
                    </div>

                    <div>
                        <ul class="wow fadeInUp">
                            <li><a ng-click="headerCtrl.scrollTo('contact')" class="doneaza pink-btn">Donează </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <section id="proiecte_text2">
            <div id="second_text">
                <div class="hidden vis2">
                    <div class="section_name wow fadeInDown">
                        <h4>Asigurarea cabinetelor de studii cu echipamentul necesar</h4>
                        <div class="img_divider"><img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/p.png')}}" class="section_logo"></div>
                    </div>
                    <div class="section_content wow fadeInUp">
                        <p>Calculatoare, proiectoare, etc.</p>
                    </div>
                    <div class="section_content wow fadeInUp">
                        <p class="small">Dacă ne dorim o generație modernă și bine instruită, care să fie gata
                            să perceapă și să prezinte informația nu doar sec pe hârtie, dar
                            folosind tehnologiile moderne, cu argumente corecte și evidențiind
                            cele mai importante momente - ar fi bine să începem prin a le oferi
                            liceenilor și profesorilor care îi instruiesc posibilitatea de a utiliza
                            tehnologia moderna (calculator și proiector) în sălile de clasă. În plus,
                            lectiile vor deveni mai captivante și interactive.<br>
                            <span>
                                Dacă susțineți această idee, sunteți bineveniți s-o faceți prin
                                accesarea butonului ”DONEAZĂ” de mai jos.
                            </span>
                        </p>
                    </div>
                    <div>
                        <ul class="wow fadeInUp">
                            <li><a ng-click="headerCtrl.scrollTo('contact')" class="doneaza pink-btn">Donează </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>



        <section id="proiecte_text3">
            <div id="third_text">
                <div class="hidden vis3">
                    <div class="section_name wow fadeInDown">
                        <h4>Echipament pentru sala de sport</h4>
                        <div class="img_divider"><img ng-src="{{indexCtrl.deepAsset.locate('@deep-alareme:img/p.png')}}" class="section_logo"></div>
                    </div>
                    <div class="section_content wow fadeInUp">
                        <p>A cărei construcţie a început!</p>
                    </div>
                    <div class="section_content wow fadeInUp">
                        <p class="small">În sfârșit elevii pot avea șansa să facă ora de educație fizică într-o
                            sală bine amenajată și dedicată anume acestei activități. Iar proverbul
                            spune: „minte sănătoasă în corp sănătos”!
                            În momentul de față s-a reușit să fie adunată circa o treime din suma
                            necesară.<br>Dacă aveți alte idei de proiecte, vă rugăm să le comunicați la poșta
                            electronică:…. . Vor fi cu atenție analizate și, cu participarea tuturor,
                            REALIZATE.
                            Haideți să schimbăm pozitiv viața elevilor din liceu și, astfel, și a
                            societății din Moldova!
                            <span> Dacă credeți că e bine să schimbam condițiile în care s-a
                                făcut ora de sport pe vremea noastră, vă rugăm să apăsați butonul
                                ”DONEAZĂ”.</span>
                        </p>
                    </div>

                    <div>
                        <ul class="wow fadeInUp">
                            <li><a ng-click="headerCtrl.scrollTo('contact')" class="doneaza pink-btn">Donează </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>